@page
@model _01_BasicEvent.Pages.BindManyEventsModel
@{
    ViewData["Title"] = "BindManyEvents";
}

@section Scripts
{
    <script src="js/BindManyEvents.js"></script>
}

<div class="bg-info">
    <h1>BindManyEvents</h1>
</div>
