@page
@model _01_BasicEvent.Pages.Events.EventTypeModel
@{
    ViewData["Title"] = "EventType";
}

@section Scripts
{
    <script src="~/js/Events/EventType.js"></script>
}

<div>
    <h1>EventType</h1>
</div>